modules = ["nodejs-24", "python-base-3.13", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
ABACATEPAY_RETURN_URL = "https://rachador.replit.app/planos"
ABACATEPAY_ANNUAL_PRODUCT_ID = "prod_1epFnjGQhZJb1pLW6gqqgYPm"
ABACATEPAY_MONTHLY_PRODUCT_ID = "prod_xuQjxbyKKKsjabTtchUWf1Qg"
